@import "../../node_modules/bootstrap/scss/bootstrap";

$heading-color: #000000;
$auction-primary-color: #00d0ff;
$primary: #00d0ff;
$beta: #00df1e;
$grey: #646464;

$text-stroke: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;