@import "variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
footer {
  margin-top: auto;  
  }
h2 {
  color: $heading-color;
  font-weight: 700;
}
h3 {
  color: white;
  font-weight: 700;
}
p, a {
  font-weight: 600;
}
.logo {
  max-width: 400px;
  height: auto;
}
.btn-login, .btn-auction, .bg-card {
  background-color: $auction-primary-color;
}
.btn-secondary {
  background-color: $beta;
}
.modal-header, .navbar-auction {
  background-color: $primary;
}
.form-label {
  color: $heading-color;
}
.profile-circle {
  display: flex;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  position: relative;  
  margin-left: 10px;
}

.profile-image {
  width: 100%;
  height: auto; 
 border-radius: 50%;
}

.profile-frame {
  width: 120%;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the frame within the circle */ 
  z-index: 1; 
}

.text-stroke {
  text-shadow: $text-stroke;
}

.custom-shape-divider-bottom-1707191989 {
  position: absolute; 
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707191989 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 101px;
}

.custom-shape-divider-bottom-1707191989 .shape-fill {
  fill: #00D0FF;
}
main {
  margin-bottom: 120px; 
}

.border-grey {
  border: solid 5px black;
}
.bid-img {
  display: flex;
  justify-self: end;
  max-width: 250px;
  height: auto;
}
