@import "variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

h2 {
  color: $heading-color;
  font-weight: 700;
}
h3 {
  color: white;
  font-weight: 700;
}
p, a {
  font-weight: 600;
}
.btn-login, .btn-auction, .bg-card {
  background-color: $auction-primary-color;
}
.btn-secondary {
  background-color: $beta;
}
.modal-header, .navbar-auction {
  background-color: $primary;
}
.form-label {
  color: $heading-color;
}
.profile-circle {
  display: flex;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  position: relative;  
  margin-left: 10px;
}

.profile-image {
  width: 100%;
  height: auto; 
 border-radius: 50%;
}

.profile-frame {
  width: 120%;
  position: absolute;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%); /* Center the frame within the circle */ 
  z-index: 1; 
}



.text-stroke {
  text-shadow: $text-stroke;
}
