@import "variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

h2 {
  color: $heading-color;
}
.btn-login {
  background-color: $auction-primary-color;
}
.modal-header, .navbar-auction {
  background-color: $primary;
}
